bruhbot/backups/
bruhbot/logs/
cogs/Audio/logs
cogs/Audio/application.yml
cogs/Audio/Audio.db
cogs/Audio/Audio.db-shm
cogs/Audio/Audio.db-wal
cogs/Audio/Lavalink.jar
cogs/CogManager/cogs
cogs/Downloader/lib
core
bruhbot/.env
bruhbot legacy files
images
!bruhbot legacy files\previous versions
!bruhbot legacy files\cogs
\.vscode