bruhbot/backups/
bruhbot/logs/
cogs/Admin/settings.json
cogs/Alias/settings.json
cogs/Audio/logs/
cogs/Audio/application.yml
cogs/Audio/Audio.db
cogs/Audio/Audio.db-shm
cogs/Audio/Audio.db-wal
cogs/Audio/Lavalink.jar
cogs/Audio/settings.json
cogs/AudioTrivia/settings.json
cogs/Bank/settings.json
cogs/Battleship/settings.json
cogs/Chatchart/settings.json
cogs/Cleanup/settings.json
cogs/CogManager/
cogs/CustomCommands/settings.json
cogs/Dad/settings.json
cogs/Deepfry/settings.json
cogs/Downloader/
cogs/Hangman/settings.json
cogs/Image/settings.json
cogs/Mod/settings.json
cogs/ModLog/settings.json
cogs/Pupper/settings.json
cogs/Race/settings.json
cogs/RepoManager/settings.json
cogs/Rift/settings.json
cogs/RussianRoulette/settings.json
cogs/Trivia/settings.json
cogs/WeeedBot/settings.json
core/settings-2059006774.tmp
core/settings.json
core/logs/
cogs/Economy/settings.json
